<main>
    {{!-- the form --}}
    <div class="d-flex">
        <form class="container col-5 p-4" id="create-recipe">
            <h2>Add your recipe!</h2>
            <p>Make sure to credit the original author, if it's not you! And keep it clean, people, this is supposed to be fun!</p>
            <div  class="row align-items-start">
                <div class="col p-3">
                    <h5>About the Recipe:</h5>
                    <label for="recipe-title" class="form-label">Recipe Title</label>
                    <input type="text" class="form-control" id="recipe-title" placeholder="Enter title here...">
                    <label for="recipe-author" class="form-label">Author</label>
                    <input type="text" class="form-control" id="recipe-author" placeholder="Enter author here...">
                    <label for="recipe-title" class="form-label">How many servings?</label>
                    <input type="text" class="form-control" id="recipe-servings" placeholder="Enter amount of servings here...">
                </div>
                {{!-- allergy checkboxes --}}
                <div class="col p-3" style="border-left: 1px dashed lightgray">
                    <h5>Allergens:</h5>
                    <p>Does your recipe contain any of the following?:</p>
                    <div  class="row align-items-start" id="check-box">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input allergen-check" type="checkbox" value="Beef" id="has-beef">
                                <label class="form-check-label" for="has-beef">
                                    Beef
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input allergen-check" type="checkbox" value="Pork" id="has-pork">
                                <label class="form-check-label" for="has-pork">
                                    Pork
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input allergen-check" type="checkbox" value="Poultry" id="has-poultry">
                                <label class="form-check-label" for="has-poultry">
                                    Poultry
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input allergen-check" type="checkbox" value="Fish (fins)" id="has-fish-fin">
                                <label class="form-check-label" for="has-fish-fin">
                                    Fish (fins)
                                </label>
                            </div>
            
                            <div class="form-check">
                                <input class="form-check-input allergen-check" type="checkbox" value="Shellfish" id="has-shellfish">
                                <label class="form-check-label" for="has-shellfish">
                                    Shellfish
                                </label>
                            </div>
                    
                            <div class="form-check">
                                <input class="form-check-input allergen-check" type="checkbox" value="Dairy" id="has-dairy">
                                <label class="form-check-label" for="has-dairy">
                                    Dairy
                                </label>
                            </div>
                
                            <div class="form-check">
                                <input class="form-check-input allergen-check" type="checkbox" value="Eggs" id="has-eggs">
                                <label class="form-check-label" for="has-eggs">
                                    Eggs
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input allergen-check" type="checkbox" value="Tree Nuts" id="has-treenuts">
                                <label class="form-check-label" for="has-treenuts">
                                    Tree nuts
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input allergen-check" type="checkbox" value="Peanuts" id="has-peanuts">
                                <label class="form-check-label" for="has-peanuts">
                                    Peanuts
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input allergen-check" type="checkbox" value="Wheat Gluten" id="has-gluten">
                                <label class="form-check-label" for="has-gluten">
                                    Wheat Gluten
                                </label>
                            </div>
                    
                            <div class="form-check">
                                <input class="form-check-input allergen-check" type="checkbox" value="Soy" id="has-soy">
                                <label class="form-check-label" for="has-soy">
                                    Soy
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input allergen-check" type="checkbox" value="Honey" id="has-honey">
                                <label class="form-check-label" for="has-honey">
                                    Honey
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- ingredient input --}}
            <div class="row align-items-start p-4" style="border-top: 1px dashed lightgray">
                <div>
                    <h5>Ingredients:</h5>
                    <p>Enter your ingredients in the box below one at a time, hitting next after each entry. Keep the following in mind: <br><strong>C = cup | T = tablepoon | t = teaspoon</strong></p>
                    <label for="ingredients" class="form-label d-none">Ingredient</label>
                    
                    <div class="d-flex justify-content-center">
                        <input type="text" class="form-control" name="ingredients" id="ingredients" placeholder="2 C of...">
                        <button class="direction form-button m-2" id="next-ing">Next</button>
                    </div>
                    <p style="font-size: 0.75rem"><em>To edit, click on the list item in the preview to the right.</em></p>
                </div>
            </div>
            {{!-- instruction input --}}
            <div class="row align-items-start p-4" style="border-top: 1px dashed lightgray">
                <div class="mb-3">
                    <h5>Instructions:</h5>
                    <p>Enter the steps to make it, one at a time. Hit next after each entry.</p>
                    <label for="instruction" class="form-label d-none">Instruction Step</label>
                    <div class="d-flex justify-content-center ">
                        <input type="text" class="form-control" name="instruction"id="instructions" placeholder="First you..." data-index-number="1">
                        <button class="direction form-button m-2" id="next-inst">Next</button>
                    </div>
                     <p style="font-size: 0.75rem"><em>To edit, click on the list item in the preview to the right.</em></p>
                </div>
            </div>
        </form>
        {{!-- the buttons --}}
        <div class="d-flex flex-column align-items-center justify-content-start" id="save-btn-box">
            <button class="direction form-button m-2" style="background-color: lightgray;" id="reset-form">Reset Form</button>
            <button class="direction form-button m-2" id="save-recipe">Save Recipe</button>
        </div>
        {{!-- the preview --}}
        <div class="container col-5 p-4" id="recipe-preview" style="border: 5px double gray;">
            <h2 class="title" id="new-title">My Recipe</h2>
            <div class="row align-items-start">
                <div class="col p-4">
                    <h4 >Author:</h4>
                    <p id="new-author"></p>
                    <p class="place-holder" id="author-placeholder">somebody wroteit</p>
                    <h4 >Servings:</h4>
                    <p id="new-servings"></p>
                    <p class="place-holder" id="servings-placeholder">8 servings</p>
                </div>
                <div class="col p-4" style="height: 100%; border-left: 1px dashed lightgray">
                    <h4>Allergen Info:</h4>
                    <div id="allergen-placeholder">
                        <ul class="place-holder">
                            <li>something</li>
                            <li>something</li>
                            <li>something</li>
                            <li>something</li>
                        </ul>
                    </div>
                        <ul id="new-allergen">
                        </ul>
                </div>
            </div>
            <div style="border-top: 1px dashed lightgray" class="p-3">
                <h4 >Ingredients</h4>
                  {{!-- hidden edit box --}}
                <div id="hidden-ing-box" class="hidden-edit">
                    <label for="ing-edit" class="p-2">Edit Ingredient</label>
                    <input type="text" class="p-2" id="ing-edit">
                    <button class="direction form-button m-2" id="edit-ing">Edit</button>
                    <div class="hidden-value" id="ing-value"></div>
                </div>
                <ul class="place-holder" id="ingredients-placeholder">
                    <li class="place-holder">stuff</li>
                    <li class="place-holder">stuff</li>
                    <li class="place-holder">stuff</li>
                    <li class="place-holder">stuff</li>
                </ul>
                <ul id="new-ingredients">
                </ul>
             </div>
             <div style="border-top: 1px dashed lightgray" class="p-3">
                <h4 >Instructions</h4>
                {{!-- hidden edit box --}}
                <div id="hidden-inst-box" class="hidden-edit">
                    <label for="inst-edit" class="p-2">Edit Instruction</label>
                    <input type="text" class="p-2" id="inst-edit">
                    <button class="direction form-button m-2" id="edit-inst">Edit</button>
                    <div class="hidden-value" id="inst-value"></div>
                </div>
                <ol class="place-holder" id="instructions-placeholder">
                    <li>First you do things</li>
                    <li>Then you do some stuff</li>
                    <li>Then another thing</li>
                    <li>But not before this one thing</li>
                    <li>Then you do the last thing</li>
                    <li>Before you do the best thing</li>
                </ol>
                <ol id="new-instructions"></ol>
             </div>
        </div>
    </div>
</main>
<script src="/js/add-recipe.js"></script>