<main>
    <div class="main-el mt-5">
        <h2 class="main-el">You don't know?? Spin the Breakfast Wheel!!</h2>
        <button class="main-el form-button" id="get-bf">
            Spin It!!
        </button>
    </div>
    <div class="main-el" id="results">
        <h2>You're having...</h2>
        <div id="what-having">
            <h1 class="reset title" ></h1>
            <p class="reset" id="author"></p>
            <p>Servings: <span class="reset" id="servings"></span></p>
            <ul class="reset" id="ingredients"></ul>
            <ol class="reset" id="instructions"></ol>
        </div>
    </div>
</main>
<script src="/js/landing.js"></script>