<main class="container-fluid">
        <form action="" id="login-form">
            <h2>Sign in Below</h2>
            <div class="row mb-3">
                <label for="inputUsername" class="col-sm-4 col-form-label form-labels">Username</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="inputUsername">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword" class="col-sm-4 col-form-label form-labels">Password</label>
                <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword">
                <p id="togglePassword">ShowPassword</p>
                </div>
            </div>
            <button class="form-button" type="submit" id="login-btn"> Sign In!</button>
        </form>
</main>
<script src="/js/login.js"></script>